# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cG93ZXJmdWwtc3RvcmstNDMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_9dHxpwqVUPnqrzW77prx4SJHL0oDJYucpBLt27J5Pn

# Database URL
DATABASE_URL=your_database_url_here

# Next Auth
NEXTAUTH_SECRET=re_VXVscBCV_Q43etNGpwwfqyA6VSHYk36D2
NEXTAUTH_URL=http://localhost:3000

# Resend Email Configuration
RESEND_API_KEY=your_resend_api_key_here

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000 